.parentusermanag{
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.usersarea{
    position: absolute;
    top: 50px;
    min-height: 60vh;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;
}


.userid{
    grid-column: 1/2;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;

}

.username{
    grid-column: 2/3;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;

}

.role{

    grid-column: 3/4;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown{
    position: fixed;
    /* top: -102%; */
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(40, 37, 37, 0.552);
    height: 100px;
    transition: top 0.3s ease;
}
.usertable{
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    font-size: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.editbutton{
    grid-column: 4/5;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border: none;
}

.editbutton:hover{
    background-color: grey;
}
.usersarea > :nth-child(1) {
    /* Styles for the first child of each .usersarea */


    border-top: 2px solid black;
    font-size: 25px;
    background-color: rgb(139, 195, 195);
    font-weight: bold;

}

.usersarea > :nth-child(1) .editbutton {
    /* Styles for the first child of each .usersarea */

  background-color: transparent;
   display: none;

}

.usersarea:last-child{
    border-bottom: 2px solid black;
}

.dropdownMenu {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 10%;
  }
  
  .dropdownOption {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownOption:hover {
    background-color: #f1f1f1;
  }
  